// Kuler Base Color: #389DFF

/******************************
/* Fonts and such
/******************************/

@font-face
  font-family "Novecento"
  src url("../fonts/novecento-bold.woff") format('woff')
  font-weight bold

@font-face
  font-family "Crimson"
  src url("../fonts/crimson-roman-webfont.ttf")
  font-weight normal


/******************************
/* Basic Page Setup
/******************************/

html
  color white
  font-family "Crimson"
  width 100%
  height 100%


body
  margin 0
  width 100%
  height 100%

h1, h2, h3, h4, h5, h6
  text-transform uppercase
  font-family "Novecento", sans-serif
  margin 1em
  color #333

/******************************
/* Common Section Business
/******************************/

#shroud
  position fixed
  top 0
  left 0
  opacity 1
  width 100%
  height 100%
  z-index 1000
  transition all 0.4s

  &.fade
    opacity 0
  &.hidden
    display none


header
  position absolute
  top 0
  left 0
  z-index 10

  a, span
    transition opacity 0.2s
    font-family "Novecento"
    display block
    text-decoration none
    line-height 30px
    padding-left 20px
    font-size 18pt
    opacity 0.8

    &:first-child
      padding-top 10px
    &:hover
      opacity 1
    &:active
      transition none
      opacity 0.5
    &.current
      &:hover, &:active
        opacity 0.8
      &::before
        content " | "
        color black
  span
    color #222
    opacity 1 !important

main, section, article
  box-sizing border-box
  -moz-box-sizing border-box
  font-size: 0
  width 100%
  padding 44px 20px
  font-size 15pt
  color #222
  overflow hidden
  position relative
  text-align center

  a
    color #1564B2

    &:hover
      color #51A9FF

  p, pre
    max-width: 30em;
    margin: auto;
    line-height: 1.5;
    text-align: left;
    -webkit-text-stroke 1px rgba(0,0,0,0.1)

  blockquote p
    max-width 24em
    padding 1em
    background-color #EEE
    color #666

  code
    font-family "Consolas", "Monaco", monospace

  p + p
    text-indent 1em

  h1
    padding 4px
    font-size 32pt
    line-height 0.8
    color #222
    text-shadow none
    max-width 18em
    margin 1em auto

    a
      color: #222;
      text-decoration: none;
