@import _common;

html
  color #222

header
  font-family "Novecento"
  background-image: radial-gradient(ellipse at top left, #1564B2 0%, #51A9FF 200%);
  overflow hidden
  text-align center
  line-height 70px

  .scroll
    display inline-block
    font-size 70pt
    line-height 50px

  a
    color white
    text-decoration none

    small
      float left

article
  padding-top 0

  h1:first-child
    margin 2em auto

  time
    color #AAA
    font-family "Novecento"
    font-size 32pt
    display block
    margin -1em 0 1em 0

    small
      font-size 20pt
