@import _common;

html
  color #222

header
  background-image: radial-gradient(ellipse at top left, #1564B2 0%, #51A9FF 200%);
  height 20px


article
  padding-top 0

  h1:first-child
    margin 2em auto

  time
    color #AAA
    font-family "Novecento"
    font-size 32pt
    display block
    margin -1em 0 1em 0

    small
      font-size 20pt

#disqus_thread
  border-top 2px dashed #EEE
  max-width 600px
  margin auto
  padding 40px 0
