@import _common;

/******************************
/* Main content
/******************************/

#main
  height auto
  padding 100px 20px

#main img
  width 200px
  margin-bottom 100px
  border-radius 4px

section
  height: 100%;
  display: table;

  p
    line-height 2
    font-size 14pt
  p a
    transition color 0.1s
    color black
    font-size 32pt
    font-family "Novecento"
    font-weight bold
    text-decoration none
    line-height 0
    position relative
    top 8px
    margin 0 2px

    &:hover
      color #1564B2

  > div
    display table-cell
    vertical-align middle

