@import _common;

/******************************
/* Main content
/******************************/

#main
  height auto
  padding 100px 20px


#main img
  width 200px
  margin-bottom 100px
  border-radius 4px

